.THIS .slds-p-vertical_small{
	background-color: #2F4F4F
}

.THIS .menuNav{
	height: 200px;
}


.THIS #backCatalog{
	color:#FFD700; 
	font-weight: bold;
}

.THIS .slds-th__action{
	background-color: #2F4F4F;
	color:gold;
	font-weight: bold; 
	font-size: 1.5em;
}

.THIS .slds-nav-vertical__action:hover{
	background-color: #D8BFD8
}

.THIS .voidDiv{
	height: 400px;
}

.THIS .content{
	font: 14px OS;
	font-size: 1.3em;
	color: #e4e4e4;
}

.THIS .about{
	padding: 10px 10px 0 23px;
}

.THIS .sizeImage{
	height: 300px;
	width: 300px;
}

.THIS .nameGoodsFont{
	background-color: #2F4F4F;
	color:gold;
	font-weight: bold; 
	font-size: 2em;
}

.THIS .content{
	font: 14px OS;
	font-size: 1.3em;
	color: #e4e4e4;
}

.THIS .contentPrice{
	font: 14px OS;
	font-size: 2em;
	color: #e4e4e4;
}

.THIS .btn_type_flat {
	font-family: Roboto,sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 3px;
	background-color: #ffcb39;
	color: #000;
	width: 25%;
}

.THIS .quantity-block-wrapper {
	border: 1px solid #e6e6e6;
	background-color: #ffcb39;
	border-radius: 4px;
	text-align: center;
	height: 49px;
	width: 25%;
}

.THIS .quantity-input {
	background-color: #ffcb39;
	width: 33px;
	height: 33px;
	font-weight: bold;
	font-size: 1.5em;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.THIS .sizeDescriptionGoods{
	height: 350px;
}